n8n_RAG_Pinecone_Google_Drive.json
{
  "name": "n8n-RAG-Pinecone-Google-Drive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "18Q6IFaxAsIkxBn4KlfL0cnWBomAr6CXE",
          "mode": "list",
          "cachedResultName": "n8n-RAG-Google-Drive",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18Q6IFaxAsIkxBn4KlfL0cnWBomAr6CXE"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -40
      ],
      "id": "4f3c32cd-15f7-451b-a6d4-232716eb635e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XFRVIGGCvIs2oG4v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -100,
        -40
      ],
      "id": "ec9e6306-398e-49fe-a85b-3d7c8ed87173",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XFRVIGGCvIs2oG4v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag-index",
          "mode": "list",
          "cachedResultName": "n8n-rag-index"
        },
        "options": {
          "pineconeNamespace": "rag_files_folder"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        120,
        -40
      ],
      "id": "0679a88a-d786-4d14-9b1b-0f78ec3df3f5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YpPLUyOcHgg00Nuj",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        220,
        120
      ],
      "id": "65fcd295-1c35-4066-bd40-4cfb89018947",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        200,
        280
      ],
      "id": "7289750d-2b75-4a8b-9b02-30ffce1ccc37",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -580,
        160
      ],
      "id": "daf06aa0-c6be-4749-a32c-59a0e3e25499",
      "name": "When chat message received",
      "webhookId": "6f4dc60b-0c10-4f80-9a57-fce99b4a1da4"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag-index",
          "mode": "list",
          "cachedResultName": "n8n-rag-index"
        },
        "options": {
          "pineconeNamespace": "rag_files_folder"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -300,
        540
      ],
      "id": "1128f274-c3f2-4074-a395-07f4f5597eb2",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "YpPLUyOcHgg00Nuj",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful AI assistant.\n\nWhen a user greets you, respond with a friendly \"Hello [name]\".\n\nYou must strictly generate answers based only on the content retrieved from the connected vector store (e.g., Pinecone).\n\nDo not use outside knowledge or make assumptions.\n\nIf no relevant information is found in the retrieved documents, reply with:\n\"I don’t have that information right now.\"\n\nMaintain a concise, professional tone at all times."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -360,
        160
      ],
      "id": "2d37fe75-38e6-4e78-803c-dd02553cfd5c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "name": "user_info",
        "description": "information about user"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -140,
        360
      ],
      "id": "749d87c5-2cee-4b02-9606-242cb5add3a0",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -460,
        440
      ],
      "id": "c589bf08-4923-4f2c-94c7-00d71c15b348",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LQRMsf77jb0YcPrF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        160
      ],
      "id": "c73e4b8c-eee5-437a-8ab3-d437591c59a4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LQRMsf77jb0YcPrF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        780
      ],
      "id": "8b5d4a94-28ca-438f-bc9e-6fd4b2040bb7",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "LQRMsf77jb0YcPrF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -320,
        360
      ],
      "id": "8f6ce2aa-8ef6-48da-83c7-91355d6c9f1c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        580
      ],
      "id": "c243983f-457b-43dd-a7d6-80472caa27f5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "LQRMsf77jb0YcPrF",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f23e28a6-3cea-4203-b884-66a5132c9f8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a946e02a02af7ad73e36002aea2db5d57ad73569a553aa5b327deea022122ca2"
  },
  "id": "xmurKEGO343ZRgul",
  "tags": []
}